

    <h1>Create Account</h1>
    <input type="text"
           ng-model="username"
           class="form-control"
           placeholder="username"/>
    <input type="password"
           ng-model="password"
           class="form-control"
           placeholder="password"/>
    <input type="password"
           ng-model="model.user.verify.password"
           class="form-control"
           placeholder="verify password"/>
    <a class="btn btn-primary btn-block"
       ng-click="model.register(username, password)">Create your account</a>
    <a class="btn btn-danger  btn-block"
       href="#/login">Cancel</a>

       <h4>Already have an account?</h4>

    <a class="btn btn-info  btn-block"
       href="#/login">Login</a>
</div>

