input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 70px;
}

.navbar-default {
    background-color: #2b669a;
}

.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-link{
    color:white
}

.glyphicon-ok{
    margin-right: 15px;
    color:white;
}

.glyphicon-plus{
    margin-right:15px;
    color:white;
}
.glyphicon-chevron-left{
    color:white;
}

.glyphicon-user{
    color: white;
}
.glyphicon-eye-open{
    color:white;
}

.glyphicon-play{
    color:white;
}

.youtube-widget {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.youtube-widget iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

}
