<div class="container-fluid">
    <h1> <a href="#/search/{{model.title}}">
        <span class="glyphicon glyphicon-step-backward"></span>
    </a>
        {{model.movie.Title}}</h1>

    <div class="row">
        <div class="col-xs-6">
            <div> Released date : {{model.movie.Released}}
            </div>
            <div> Genre: {{model.movie.Genre}}
            </div>
            <div> Runtime: {{model.movie.Runtime}}
            </div>
            <div> Plot : {{model.movie.Plot}}
            </div>
            <div> Directed by: {{model.movie.Director}}
            </div>
            <div> Actors:
                <ul>
                    <li ng-repeat="actor in model.movie.Actors.split(',')">
                        {{actor}}
                    </li>
                </ul>
            </div>
            <div> Rating : {{model.movie.Rated}}
            </div>
        </div>
        <div class="col-xs-6">
            <img ng-src="{{model.movie.Poster}}" height="300px">
        </div>
    </div>
    <div>
        <button ng-click="likeMovie(imdbID)">
            <span class="glyphicon glyphicon-star-empty"></span>
        </button>
    </div>
    <div class="form-group">
        <label for="review">Review</label>
        <input ng-model="model.review" type="text" class="form-control" id="review" placeholder="you can write a review">
    </div
</div>
